# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
env/
.venv/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*~
*.swp
*.tmp

# Dados gerados pelo projeto (exceto .gitkeep)
data/*
!data/.gitkeep
